body::-moz-selection {
    background: #7d027;
}

body::selection {
    background: #7d027;
}


a {
    color: #0059ff;
    transition: font-size 0.5s;
}

    a:hover {
        color: #1aff00;
        font-size: 150%
    }

.headerbox {
    background-color: transparent;
}

div.headerbox ul.menu {
    background-color: #4a4a4a;
}

div.normalbox div.body {
    background-color: #4a4a4a;
    color: #FFFFFF
}

div.normalbox div.table div.rowalt {
    background-color: #4a4a4a;
    color: #FFFFFF
}

div.normalbox div.tablecomments div.row, div.normalbox div.tablecomments div.rowalt {
    background-color: #4a4a4a;
    color: #FFFFFF
}

div.normalbox div.table h4 a, div.normalbox div.table span.heading a {
    color: #746F72;
}

div.headerbox div.title {
    background-image: none;
    padding: 0 9px 5px;
}

div.normalbox div.tableform textarea {
    background-color: #424242;
    color: #FFF;
}

div.normalbox div.inner {
    background-color: #111111;
}

div.headernormalbox div.inner {
    background-color: #111111;
}

div.headernormalbox {
    background-color: #111111;
}

div.headerbox div.headercorner {
    border-color: #111111;
    border-bottom: none;
}

div.normalbox div.table div.content p {
    border-top-color: #4f4f4f;
}

div.normalbox div.poll div.baroptionalt {
    background-color: #444444;
}

div.normalbox div.table div.rowalt div.content p {
    border-top-color: #444444;
}

div.headerbox h2 a:hover {
    color: #ffbb00;
}

div.rotatorbox a:hover h2 {
    color: #ffbb00;
}

#footer {
    border-top-color: #2E2E2E;
}

div.pagination a.previous,
div.pagination a.next {
    background-color: #222222;
    border-color: #444444;
    color: #0B3559;
}

div.pagination a.pageoff,
div.pagination span.previous,
div.pagination span.next {
    background-color: #151515;
    border-color: #424242;
    color: #999;
}

div.normalbox div.table div.row:nth-of-type(2n-1) {
    background-color: black;
}

div.pagination div.pages {
    color: #0F6ABB;
}

    div.pagination div.pages a {
        color: #0F6ABB;
    }

    div.pagination div.pages span.current {
        background-color: #2e2e2e;
        color: #0F6ABB;
    }

#subheader ul li {
    border-left-color: #333;
}

#subheader ul ul li {
    border-top-color: #333;
}

#subheader ul a,
#subheader ul span {
    color: #fff;
}

#subheader ul li.on a {
    background-color: #fff;
    color: #000;
}

#subheader ul ul a {
    background: #111111;
}

div.headerbox h2 a,
div.headerbox h3 a {
    color: #ffffff;
}

div.headerbox ul.menu li a {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

div.headerbox ul.menu li.on a {
    background-color: #0011ff;
    color: white;
}

div.normalbox div.table h4 a:hover,
div.normalbox div.table span.heading a:hover {
    color: #22ff00;
}

span.options a {
    border-color: #2E2E2E;
    color: #999;
}

li.suggest_over {
    background-color: #090909;
    color: #fff;
}

div.tooltip {
    background-color: #090909;
}

hr {
    background: #000;
    color: #000;
}

#searchbox {
    background: url(/cutoff/images/default/bg_search_box.png) no-repeat;
    float: left;
    height: 26px;
    padding: 4px 5px 0 4px;
    position: relative;
}
